node_modules
package.json
bun.lock

/skills/*/config.ini
/skills/*/config/config.json
/skills/*/config/credentials.json
/skills/*/config/*.secret.json
/skills/*/config/.env
/skills/bilibili-downloader/ffmpeg
**/__pycache__/
**/nul